
.branding {
  width: 100%;
  color: #676E72;;
  font-size: 1.1em;
  text-align: center;
  background-color: #F1BC32;
  background-color: rgba(241,188,50,.15);
  padding: 24px;
}
.branding a {
  font-weight: 700;
}
@media (min-width: 768px) {
  .nav-justified {
    max-height: 52px;
  }
  .nav-justified > li > a {
    border-left: 1px solid #fff;
    border-right: 1px solid #d5d5d5;
  }
  .nav-justified > li:first-child > a {
    border-left: 0;
    border-radius: 5px 0 0 5px;
  }
  .nav-justified > li:last-child > a {
    border-radius: 0 5px 5px 0;
    border-right: 0;
  }
  .sidebar {
    display: block;
  }
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (min-width: 992px) {
  .affix-top {
    top: 30px;
  }
  .sidebar.affix {
    top: 10px;
    margin-top: 0px;
  }
}
.footer {
  border-top: 1px solid #eee;
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}
/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
/* Customize the nav-justified links to be fill the entire space of the .navbar */
.nav-justified {
  background-color: #eee;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.nav-justified > li > a {
  margin-bottom: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #777;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #d5d5d5;
  background-color: #e5e5e5;
  /* Old browsers */

  background-repeat: repeat-x;
  /* Repeat the gradient */

  background-image: -moz-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  /* FF3.6+ */

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #e5e5e5));
  /* Chrome,Safari4+ */

  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  /* Chrome 10+,Safari 5.1+ */

  background-image: -o-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  /* Opera 11.10+ */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#e5e5e5', GradientType=0);
  /* IE6-9 */

  background-image: linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  /* W3C */

}
.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
  background-color: #ddd;
  background-image: none;
  box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.15);
}
.nav-justified > li:first-child > a {
  border-radius: 5px 5px 0 0;
}
.nav-justified > li:last-child > a {
  border-bottom: 0;
  border-radius: 0 0 5px 5px;
}
.header h3 {
  display: inline-block;
}
.social-buttons {
  padding: 5px 20px;
}
/*
* Affix sidebar
*
*/
.sidebar {
  margin-top: 40px;
}
.sidebar .nav > li > a {
  display: block;
  font-size: 13px;
  font-weight: 500;
  color: #111111;
  padding: 4px 20px;
}
.sidebar .nav > .active > ul,
.sidebar .nav > .active:hover > ul,
.sidebar .nav > .active:focus > ul {
  display: block;
}
.sidebar .nav > .active > a,
.sidebar .nav > .active:hover > a,
.sidebar .nav > .active:focus > a {
  padding-left: 18px;
  font-weight: 700;
  color: #FF851B;
  background-color: transparent;
  border-left: 2px solid #FF851B;
}
.sidebar .nav .nav {
  display: none;
  padding-bottom: 10px;
}
.sidebar .nav .nav > li > a {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 30px;
  font-size: 12px;
  font-weight: 400;
}
.sidebar .nav .nav > .active > a {
  font-weight: 500;
  padding-left: 28px;
}
/*
* Examples
*
*/
.code-block {
  margin-top: 20px;
}
body.examples .row h2 {
  color: #FF851B;
}
body.examples .row p {
  text-align: justify;
}
/*
* Callouts
*
* Not quite alerts, but custom and helpful notes for folks reading the docs.
* Requires a base and modifier class.
*/
/* Common styles for all types */
.bs-callout {
  margin: 20px 0;
  padding: 20px;
  border-left: 3px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code {
  background-color: #fff;
  border-radius: 3px;
}
/* Variations */
.bs-callout-danger {
  background-color: #fdf7f7;
  border-color: #d9534f;
}
.bs-callout-danger h4 {
  color: #d9534f;
}
.bs-callout-warning {
  background-color: #fcf8f2;
  border-color: #f0ad4e;
}
.bs-callout-warning h4 {
  color: #f0ad4e;
}
.bs-callout-info {
  background-color: #f4f8fa;
  border-color: #5bc0de;
}
.bs-callout-info h4 {
  color: #5bc0de;
}
.hundred {
  width: 100%;
}
version {
  color: #949494;
  font-size: 0.9em;
}
h3 {
  color: #FF851B;
}
.back-to-top {
  margin-top: 10px;
  margin-left: 10px;
  padding: 4px 10px;
  font-size: 12px;
  font-weight: 500;
  color: #999;
}